/* search.component.css */
.scroll-container {
  white-space: nowrap;
  overflow-x: auto;
}
.artist-card {
  background-color: #205375;
  color: white;
  transition: background-color 0.3s ease;
  min-width: 160px;
  cursor: pointer;
  position: relative;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
}

.artist-card:hover,
.artist-card:active,
.artist-card:focus,
.artist-card.selected  {
  background-color: #174c8b !important; /* lighter blue */
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.artist-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  max-height: 2.4em;
  font-size: 1rem;
  word-break: break-word;
}
.btn-search {
  background-color: #174c8b; /* deep navy */
  color: white;
  border: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.btn-clear {
  background-color: #6c757d; /* gray */
  color: white;
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.btn-search:disabled {
  opacity: 0.6;
}
.bg-selected-tab {
  background-color: #174c8b;
  border: none;
  color: white !important;
}

.bg-transparent-tab {
  background-color: transparent;
  border: none; /* ✅ Remove border */
  color: #174c8b !important;
}
.bg-transparent-tab:hover {
  background-color: transparent !important;
  color: #174c8b !important;
}
.artist-biography {
  white-space: pre-line;
  text-align: justify;
}

.card:hover {
  box-shadow: 0 0 0.5rem rgba(32, 83, 117, 0.7);
  transform: scale(1.01);
  transition: 0.3s ease-in-out;
}

.artist-biography {
  white-space: pre-line;
  text-align: justify;
  line-height: 1.6;
}
.card-title {
  font-size: 0.95rem;
  font-weight: 500;
  white-space: normal;
  word-break: break-word;
}

.btn-primary {
  background-color: #174c8b;
  border: none;
}

.btn-primary:hover {
  background-color: #163c5f;
}

.card {
  border-radius: 0.5rem;
  overflow: hidden;
}
button.btn {
  border-radius: 0;
}
button.btn:hover {
  background-color: #163c5f;
  color: white;
}
.artist-card-img-top {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}
.artist-card-body {
  padding: 1rem;
}