.card {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-img-top {
  object-fit: cover;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}